@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html {
  scroll-behavior: smooth;
}

.blogs {
  font-family: "Inter", sans-serif;
  color: #1d2433;
  font-size: 16px;
  font-weight: 400;
}

.blogs p {
  margin-top: 14px;
  margin-bottom: 14px;
}

.blogs h1 {
  color: #1d2433;
  margin: 14px 0px;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
}

.blogs h2 {
  color: #1d2433;
  margin: 14px 0px;
  font-size: 36px;
  font-weight: 700;
}

.blogs h3 {
  color: #1d2433;
  margin: 14px 0px;
  font-size: 28px;
  font-weight: 700;
}

.blogs ol,
ul {
  margin-left: 20px;
  margin-bottom: 14px;
}

.blogs li {
  margin-top: 10px;
  margin-bottom: 10px;
}
